$overlay-color: rgba(153,204,51,0.9);

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $overlay-color;
  .inner {
    max-width: 500px;
    margin:0 auto;
    position:relative;
    text-align:center;
    a {
      color:white;
    }
  }
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -120px;
  overflow: hidden;
  border: none;
  outline: none;
  z-index: 100;
  font-size:65px;
  background: $overlay-color;
  right: 0;
}
@media all and (min-width: 800px) {
  .overlay .overlay-close {
    right: -140px;
  }
}

#container {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

#container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(120%); /* 120%, so it hides also the close button */
  transform: translateY(120%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .overlay .overlay-close {
    top: 20px;
    background:rgba(100,100,100,0.2);
  }
}